<div class = "card">
<form class="login-form card-body">
  <h3 class="card-header">Login</h3>
  <div>
    <label for="email-login" class ="form-label">email:</label>
    <input type="text" id="email-login" class="form-input" />
  </div>
  <div>
    <label for="password-login" class="form-label">password:</label>
    <input type="password" id="password-login" class="form-input"/>
  </div>
  <div>
    <button type="submit" class="btn">login</button>
    <a class="login-link" href="/signup">Sign up instead</a>
  </div>
</form>
</div>


<script src="/javascript/login.js"></script>